In [46]:
# Read results
polish_result <- read.csv('../data/results_csv_files/polish_correlation_data.csv')
polish_result

   Dataset Method          Income.Classifcation
1  Polish  Original        46.480
2          sdsPolishCatMC  46.496
3          sdsPolishCatMCT 46.340
4          sdsPolishCatMP  46.222
5          sdsPolishCatMPT 41.858
6          sdsPolishDecM   46.772
7          sdsPolishDecMO  46.276
8          sdsPolishDecMOT 46.042
9          sdsPolishDecMT  46.402
10         sdsPolishDecMV  46.622
11         sdsPolishDecMVT 46.420
12         sdsPolishParM   43.158
13         sdsPolishParMO  41.730
14         sdsPolishParMOT 41.006
15         sdsPolishParMT  42.766
16         sdsPolishParMV  42.804
17         sdsPolishParMVT 43.266
18         sdsPolishSamp   34.958
   Male.education.Vocational.Grammar.m.1000
1  17.80000
2  17.79362
3  17.80708
4  17.80060
5  17.80318
6  17.30214
7  16.72618
8  16.68600
9  17.51110
10 17.62920
11 17.66116
12 17.78866
13 17.43634
14 17.42914
15 17.78338
16 17.83070
17 17.84566
18 14.09860
   Male.education.Vocational.Grammar.m.10 Female.Income.1K.2K.m..1000
1  17.800                                 18.92000
2  17.596                                 18.82652
3  17.994                                 18.94630
4  17.460                                 18.20438
5  18.156                                 18.20982
6  17.392                                 18.86950
7  16.644                                 18.37558
8  17.018                                 18.92518
9  17.440                                 18.86456
10 17.564                                 18.88872
11 17.492                                 18.88414
12 17.670                                 19.68048
13 17.392                                 20.18868
14 17.404                                 20.12706
15 17.880                                 19.72164
16 17.912                                 19.69568
17 17.794                                 19.72022
18 13.954                                 19.71134
   Female.Income.1K.2K.m.10..71.80. Female.Income.1K.2K.m.10..811.820.
1  18.920                           18.920
2  18.996                           18.656
3  19.058                           18.806
4  18.404                           18.416
5  18.216                           18.188
6  18.918                           18.874
7  18.322                           18.366
8  19.000                           18.824
9  19.296                           18.980
10 18.896                           18.880
11 19.072                           18.650
12 20.520                           19.662
13 20.386                           20.110
14 20.012                           20.254
15 19.824                           19.808
16 19.644                           19.866
17 19.758                           19.654
18 19.446                           19.750
   Married.alcabuse.Yes CIO.Regression.Fits.Raab..2016..m.10
1  3.540                   NA
2  3.570                0.890
3  3.712                0.870
4  3.518                0.840
5  3.370                0.790
6  3.614                0.875
7  3.514                0.640
8  3.378                0.725
9  3.310                0.847
10 3.850                0.855
11 3.264                0.830
12 3.702                0.740
13 3.492                0.700
14 3.410                0.680
15 3.680                0.730
16 3.720                0.740
17 3.802                0.735
18 3.744                0.200
   Average.KL.Dv.over.all.variables.and.normalized.using.sample
1    NA
2  1.03
3  2.10
4  1.07
5  2.37
6  1.06
7  1.29
8  2.33
9  2.28
10 1.07
11 2.29
12 1.21
13 1.13
14 1.86
15 1.96
16 1.23
17 1.96
18 1.00
   APO.above.90..Raab..2016..m.10 Deviation.from.Original
1     NA                              NA
2  0.575                           0.016
3  0.475                           0.140
4  0.498                           0.258
5  0.375                           4.622
6  0.498                           0.292
7  0.210                           0.204
8  0.252                           0.438
9  0.435                           0.078
10 0.452                           0.142
11 0.390                           0.060
12 0.375                           3.322
13 0.330                           4.750
14 0.290                           5.474
15 0.340                           3.714
16 0.388                           3.676
17 0.348                           3.214
18 0.050                          11.522

In [47]:
# For testing without Sample synthesizer results
polish_result <- polish_result[-c(18),] 
polish_result

   Dataset Method          Income.Classifcation
1  Polish  Original        46.480
2          sdsPolishCatMC  46.496
3          sdsPolishCatMCT 46.340
4          sdsPolishCatMP  46.222
5          sdsPolishCatMPT 41.858
6          sdsPolishDecM   46.772
7          sdsPolishDecMO  46.276
8          sdsPolishDecMOT 46.042
9          sdsPolishDecMT  46.402
10         sdsPolishDecMV  46.622
11         sdsPolishDecMVT 46.420
12         sdsPolishParM   43.158
13         sdsPolishParMO  41.730
14         sdsPolishParMOT 41.006
15         sdsPolishParMT  42.766
16         sdsPolishParMV  42.804
17         sdsPolishParMVT 43.266
   Male.education.Vocational.Grammar.m.1000
1  17.80000
2  17.79362
3  17.80708
4  17.80060
5  17.80318
6  17.30214
7  16.72618
8  16.68600
9  17.51110
10 17.62920
11 17.66116
12 17.78866
13 17.43634
14 17.42914
15 17.78338
16 17.83070
17 17.84566
   Male.education.Vocational.Grammar.m.10 Female.Income.1K.2K.m..1000
1  17.800                                 18.92000
2  17.596                                 18.82652
3  17.994                                 18.94630
4  17.460                                 18.20438
5  18.156                                 18.20982
6  17.392                                 18.86950
7  16.644                                 18.37558
8  17.018                                 18.92518
9  17.440                                 18.86456
10 17.564                                 18.88872
11 17.492                                 18.88414
12 17.670                                 19.68048
13 17.392                                 20.18868
14 17.404                                 20.12706
15 17.880                                 19.72164
16 17.912                                 19.69568
17 17.794                                 19.72022
   Female.Income.1K.2K.m.10..71.80. Female.Income.1K.2K.m.10..811.820.
1  18.920                           18.920
2  18.996                           18.656
3  19.058                           18.806
4  18.404                           18.416
5  18.216                           18.188
6  18.918                           18.874
7  18.322                           18.366
8  19.000                           18.824
9  19.296                           18.980
10 18.896                           18.880
11 19.072                           18.650
12 20.520                           19.662
13 20.386                           20.110
14 20.012                           20.254
15 19.824                           19.808
16 19.644                           19.866
17 19.758                           19.654
   Married.alcabuse.Yes CIO.Regression.Fits.Raab..2016..m.10
1  3.540                   NA
2  3.570                0.890
3  3.712                0.870
4  3.518                0.840
5  3.370                0.790
6  3.614                0.875
7  3.514                0.640
8  3.378                0.725
9  3.310                0.847
10 3.850                0.855
11 3.264                0.830
12 3.702                0.740
13 3.492                0.700
14 3.410                0.680
15 3.680                0.730
16 3.720                0.740
17 3.802                0.735
   Average.KL.Dv.over.all.variables.and.normalized.using.sample
1    NA
2  1.03
3  2.10
4  1.07
5  2.37
6  1.06
7  1.29
8  2.33
9  2.28
10 1.07
11 2.29
12 1.21
13 1.13
14 1.86
15 1.96
16 1.23
17 1.96
   APO.above.90..Raab..2016..m.10 Deviation.from.Original
1     NA                             NA
2  0.575                          0.016
3  0.475                          0.140
4  0.498                          0.258
5  0.375                          4.622
6  0.498                          0.292
7  0.210                          0.204
8  0.252                          0.438
9  0.435                          0.078
10 0.452                          0.142
11 0.390                          0.060
12 0.375                          3.322
13 0.330                          4.750
14 0.290                          5.474
15 0.340                          3.714
16 0.388                          3.676
17 0.348                          3.214

In [48]:
# Calculate deviance from oriignal
library(tidyverse)

polish_result <- polish_result %>% mutate(Dev_Org_MEVG = abs(Male.education.Vocational.Grammar.m.10 - Male.education.Vocational.Grammar.m.10[Method == "Original"]))
polish_result <- polish_result %>% mutate(Dev_Org_FI1Kto2K_71_80 = abs(Female.Income.1K.2K.m.10..71.80. - Female.Income.1K.2K.m.10..71.80.[Method == "Original"]))
polish_result <- polish_result %>% mutate(Dev_Org_FI1Kto2K_811_820 = abs(Female.Income.1K.2K.m.10..811.820. - Female.Income.1K.2K.m.10..811.820.[Method == "Original"]))
polish_result <- polish_result %>% mutate(Dev_Org_Mar_Alcabuse_Yes = abs(Married.alcabuse.Yes - Married.alcabuse.Yes[Method == "Original"]))
polish_result

   Dataset Method          Income.Classifcation
1  Polish  Original        46.480
2          sdsPolishCatMC  46.496
3          sdsPolishCatMCT 46.340
4          sdsPolishCatMP  46.222
5          sdsPolishCatMPT 41.858
6          sdsPolishDecM   46.772
7          sdsPolishDecMO  46.276
8          sdsPolishDecMOT 46.042
9          sdsPolishDecMT  46.402
10         sdsPolishDecMV  46.622
11         sdsPolishDecMVT 46.420
12         sdsPolishParM   43.158
13         sdsPolishParMO  41.730
14         sdsPolishParMOT 41.006
15         sdsPolishParMT  42.766
16         sdsPolishParMV  42.804
17         sdsPolishParMVT 43.266
   Male.education.Vocational.Grammar.m.1000
1  17.80000
2  17.79362
3  17.80708
4  17.80060
5  17.80318
6  17.30214
7  16.72618
8  16.68600
9  17.51110
10 17.62920
11 17.66116
12 17.78866
13 17.43634
14 17.42914
15 17.78338
16 17.83070
17 17.84566
   Male.education.Vocational.Grammar.m.10 Female.Income.1K.2K.m..1000
1  17.800                                 18.92000
2  17.596                                 18.82652
3  17.994                                 18.94630
4  17.460                                 18.20438
5  18.156                                 18.20982
6  17.392                                 18.86950
7  16.644                                 18.37558
8  17.018                                 18.92518
9  17.440                                 18.86456
10 17.564                                 18.88872
11 17.492                                 18.88414
12 17.670                                 19.68048
13 17.392                                 20.18868
14 17.404                                 20.12706
15 17.880                                 19.72164
16 17.912                                 19.69568
17 17.794                                 19.72022
   Female.Income.1K.2K.m.10..71.80. Female.Income.1K.2K.m.10..811.820.
1  18.920                           18.920
2  18.996                           18.656
3  19.058                           18.806
4  18.404                           18.416
5  18.216                           18.188
6  18.918                           18.874
7  18.322                           18.366
8  19.000                           18.824
9  19.296                           18.980
10 18.896                           18.880
11 19.072                           18.650
12 20.520                           19.662
13 20.386                           20.110
14 20.012                           20.254
15 19.824                           19.808
16 19.644                           19.866
17 19.758                           19.654
   Married.alcabuse.Yes CIO.Regression.Fits.Raab..2016..m.10
1  3.540                   NA
2  3.570                0.890
3  3.712                0.870
4  3.518                0.840
5  3.370                0.790
6  3.614                0.875
7  3.514                0.640
8  3.378                0.725
9  3.310                0.847
10 3.850                0.855
11 3.264                0.830
12 3.702                0.740
13 3.492                0.700
14 3.410                0.680
15 3.680                0.730
16 3.720                0.740
17 3.802                0.735
   Average.KL.Dv.over.all.variables.and.normalized.using.sample
1    NA
2  1.03
3  2.10
4  1.07
5  2.37
6  1.06
7  1.29
8  2.33
9  2.28
10 1.07
11 2.29
12 1.21
13 1.13
14 1.86
15 1.96
16 1.23
17 1.96
   APO.above.90..Raab..2016..m.10 Deviation.from.Original Dev_Org_MEVG
1     NA                             NA                   0.000
2  0.575                          0.016                   0.204
3  0.475                          0.140                   0.194
4  0.498                          0.258                   0.340
5  0.375                          4.622                   0.356
6  0.498                          0.292                   0.408
7  0.210                          0.204                   1.156
8  0.252                          0.438                   0.782
9  0.435                          0.078                   0.360
10 0.452                          0.142                   0.236
11 0.390                          0.060                   0.308
12 0.375                          3.322                   0.130
13 0.330                          4.750                   0.408
14 0.290                          5.474                   0.396
15 0.340                          3.714                   0.080
16 0.388                          3.676                   0.112
17 0.348                          3.214                   0.006
   Dev_Org_FI1Kto2K_71_80 Dev_Org_FI1Kto2K_811_820 Dev_Org_Mar_Alcabuse_Yes
1  0.000                  0.000                    0.000
2  0.076                  0.264                    0.030
3  0.138                  0.114                    0.172
4  0.516                  0.504                    0.022
5  0.704                  0.732                    0.170
6  0.002                  0.046                    0.074
7  0.598                  0.554                    0.026
8  0.080                  0.096                    0.162
9  0.376                  0.060                    0.230
10 0.024                  0.040                    0.310
11 0.152                  0.270                    0.276
12 1.600                  0.742                    0.162
13 1.466                  1.190                    0.048
14 1.092                  1.334                    0.130
15 0.904                  0.888                    0.140
16 0.724                  0.946                    0.180
17 0.838                  0.734                    0.262

In [35]:
# Correlation income & CIO
income_cio <- cor.test(polish_result$Deviation.from.Original, polish_result$CIO.Regression.Fits.Raab..2016..m.10, 
                    method = "pearson")
income_cio

	Pearson's product-moment correlation

data:  polish_result$Deviation.from.Original and polish_result$CIO.Regression.Fits.Raab..2016..m.10
t = -2.8324, df = 14, p-value = 0.0133
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.8461151 -0.1538922
sample estimates:
       cor
-0.6035552

In [11]:
# Correlation income & APO
income_apo <- cor.test(polish_result$Deviation.from.Original, polish_result$APO.above.90..Raab..2016..m.10, 
                    method = "pearson")
income_apo

	Pearson's product-moment correlation

data:  polish_result$Deviation.from.Original and polish_result$APO.above.90..Raab..2016..m.10
t = -3.8603, df = 15, p-value = 0.001541
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.8859738 -0.3410153
sample estimates:
       cor
-0.7059498

In [49]:
# Correlation income & KL-divegence
income_kl <- cor.test(polish_result$Deviation.from.Original, polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample, 
                    method = "pearson")
income_kl

	Pearson's product-moment correlation

data:  polish_result$Deviation.from.Original and polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample
t = 0.31342, df = 14, p-value = 0.7586
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.4300259  0.5561654
sample estimates:
       cor
0.08347307

In [17]:
# Correlation CIO & APO
cio_apo <- cor.test(polish_result$CIO.Regression.Fits.Raab..2016..m.10, polish_result$APO.above.90..Raab..2016..m.10, 
                    method = "pearson")
cio_apo

	Pearson's product-moment correlation

data:  polish_result$CIO.Regression.Fits.Raab..2016..m.10 and polish_result$APO.above.90..Raab..2016..m.10
t = 8.4845, df = 15, p-value = 4.144e-07
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.7624229 0.9673707
sample estimates:
      cor
0.9097029

In [37]:
# Correlation CIO & KL-divergence
cio_kl <- cor.test(polish_result$CIO.Regression.Fits.Raab..2016..m.10, polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample, 
                    method = "pearson")
cio_kl

	Pearson's product-moment correlation

data:  polish_result$CIO.Regression.Fits.Raab..2016..m.10 and polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample
t = -0.24728, df = 14, p-value = 0.8083
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5438705  0.4442849
sample estimates:
        cor
-0.06594347

In [38]:
# Correlation APO & KL-divergence
kl_apo <- cor.test(polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample, polish_result$APO.above.90..Raab..2016..m.10, 
                    method = "pearson")
kl_apo

	Pearson's product-moment correlation

data:  polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample and polish_result$APO.above.90..Raab..2016..m.10
t = -1.3186, df = 14, p-value = 0.2085
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.7109401  0.1955584
sample estimates:
       cor
-0.3323663

In [21]:
# Correlation CIO & Male Edu Voc/Gramm
cio_dev_MEVG <- cor.test(polish_result$CIO.Regression.Fits.Raab..2016..m.10, polish_result$Dev_Org_MEVG, 
                    method = "pearson")
cio_dev_MEVG

	Pearson's product-moment correlation

data:  polish_result$CIO.Regression.Fits.Raab..2016..m.10 and polish_result$Dev_Org_MEVG
t = -7.8192, df = 15, p-value = 1.14e-06
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.9622834 -0.7297709
sample estimates:
       cor
-0.8960993

In [29]:
# Correlation APO & Male <50K US
apo_dev_MEVG <- cor.test(polish_result$APO.above.90..Raab..2016..m.10, polish_result$Dev_Org_MEVG, 
                    method = "pearson")
apo_dev_MEVG

	Pearson's product-moment correlation

data:  polish_result$APO.above.90..Raab..2016..m.10 and polish_result$Dev_Org_MEVG
t = -4.4375, df = 15, p-value = 0.0004795
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.9059778 -0.4276076
sample estimates:
       cor
-0.7534067

In [39]:
# Correlation KL-divergence & Male <50K US
kl_dev_MEVG <- cor.test(polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample, polish_result$Dev_Org_MEVG, 
                    method = "pearson")
kl_dev_MEVG

	Pearson's product-moment correlation

data:  polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample and polish_result$Dev_Org_MEVG
t = 0.048899, df = 14, p-value = 0.9617
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.4857844  0.5054985
sample estimates:
      cor
0.0130677

In [22]:
# Correlation CIO & Female Income 1Kto2K
cio_dev_FI1Kto2K <- cor.test(polish_result$CIO.Regression.Fits.Raab..2016..m.10, polish_result$Dev_Org_FI1Kto2K, 
                    method = "pearson")
cio_dev_FI1Kto2K

	Pearson's product-moment correlation

data:  polish_result$CIO.Regression.Fits.Raab..2016..m.10 and polish_result$Dev_Org_FI1Kto2K
t = -1.1951, df = 15, p-value = 0.2506
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.6792430  0.2164586
sample estimates:
       cor
-0.2948637

In [23]:
# Correlation CIO & Female Income 1Kto2K
cio_dev_FI1Kto2K_test <- cor.test(polish_result$CIO.Regression.Fits.Raab..2016..m.10, polish_result$Dev_Org_FI1Kto2K_811_820, 
                    method = "pearson")
cio_dev_FI1Kto2K_test

	Pearson's product-moment correlation

data:  polish_result$CIO.Regression.Fits.Raab..2016..m.10 and polish_result$Dev_Org_FI1Kto2K_811_820
t = -2.1628, df = 15, p-value = 0.04712
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.784388119 -0.009030388
sample estimates:
       cor
-0.4875589

In [24]:
# Correlation APO & Female Income 1Kto2K
apo_dev_FI1Kto2K <- cor.test(polish_result$APO.above.90..Raab..2016..m.10, polish_result$Dev_Org_FI1Kto2K_811_820, 
                    method = "pearson")
apo_dev_FI1Kto2K

	Pearson's product-moment correlation

data:  polish_result$APO.above.90..Raab..2016..m.10 and polish_result$Dev_Org_FI1Kto2K_811_820
t = -2.0128, df = 15, p-value = 0.06245
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.77091741  0.02505437
sample estimates:
       cor
-0.4611436

In [40]:
# Correlation KL-divergence & Female Income 1Kto2K
kl_dev_FI1Kto2K <- cor.test(polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample, polish_result$Dev_Org_FI1Kto2K_811_820, 
                    method = "pearson")
kl_dev_FI1Kto2K

	Pearson's product-moment correlation

data:  polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample and polish_result$Dev_Org_FI1Kto2K_811_820
t = -0.35511, df = 14, p-value = 0.7278
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5637830  0.4209374
sample estimates:
        cor
-0.09448278

In [25]:
# Correlation CIO & Married alcabuse Yes
cio_dev_mar_alcabuse_yes <- cor.test(polish_result$CIO.Regression.Fits.Raab..2016..m.10, polish_result$Dev_Org_Mar_Alcabuse_Yes, 
                    method = "pearson")
cio_dev_mar_alcabuse_yes

	Pearson's product-moment correlation

data:  polish_result$CIO.Regression.Fits.Raab..2016..m.10 and polish_result$Dev_Org_Mar_Alcabuse_Yes
t = -0.19171, df = 15, p-value = 0.8505
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5177801  0.4417016
sample estimates:
        cor
-0.04943915

In [26]:
# Correlation APO & Married alcabuse Yes
apo_dev_mar_alcabuse_yes <- cor.test(polish_result$APO.above.90..Raab..2016..m.10, polish_result$Dev_Org_Mar_Alcabuse_Yes, 
                    method = "pearson")
apo_dev_mar_alcabuse_yes

	Pearson's product-moment correlation

data:  polish_result$APO.above.90..Raab..2016..m.10 and polish_result$Dev_Org_Mar_Alcabuse_Yes
t = -0.48479, df = 15, p-value = 0.6348
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5707746  0.3790706
sample estimates:
       cor
-0.1242039

In [41]:
# Correlation KL-divergence & Married alcabuse Yes
kl_dev_mar_alcabuse_yes <- cor.test(polish_result$APO.above.90..Raab..2016..m.10, polish_result$Dev_Org_Mar_Alcabuse_Yes, 
                    method = "pearson")
kl_dev_mar_alcabuse_yes

	Pearson's product-moment correlation

data:  polish_result$APO.above.90..Raab..2016..m.10 and polish_result$Dev_Org_Mar_Alcabuse_Yes
t = -0.13563, df = 14, p-value = 0.894
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5225471  0.4678819
sample estimates:
        cor
-0.03622518

In [42]:
# Read units results
polish_units_result <- read.csv('../data/results_csv_files/polish_income_units_counts.csv')

In [43]:
# For testing without Sample synthesizer results
polish_units_result <- polish_units_result[-c(18),] 
polish_units_result

   Dataset Method          No.income below.1K X1K.to.2K X2K.to.3K X3K.to.4K
1  Polish  Original        1286      1229     1749      472       133
2          sdsPolishCatMC  1297      1222     1740      469       130
3          sdsPolishCatMCT 1282      1236     1732      479       135
4          sdsPolishCatMP  1293      1237     1731      473       134
5          sdsPolishCatMPT 1288      1240     1739      472       129
6          sdsPolishDecM   1288      1229     1750      477       129
7          sdsPolishDecMO  1282      1220     1751      479       135
8          sdsPolishDecMOT 1262      1242     1761      458       137
9          sdsPolishDecMT  1304      1217     1759      460       126
10         sdsPolishDecMV  1302      1235     1730      470       136
11         sdsPolishDecMVT 1258      1247     1729      498       134
12         sdsPolishParM   1163      1307     1856      458       115
13         sdsPolishParMO  1151      1317     1849      466       122
14         sdsPolishParMOT 1156      1279     1875      467       120
15         sdsPolishParMT  1153      1297     1853      475       120
16         sdsPolishParMV  1150      1295     1876      460       119
17         sdsPolishParMVT 1166      1310     1854      451       116
   above.4K
1  131
2  141
3  136
4  132
5  131
6  128
7  132
8  140
9  134
10 128
11 135
12 102
13  95
14 104
15 101
16 100
17 103

In [44]:
# Calculate devitain from original
polish_units_result <- polish_units_result %>% mutate(Dev_Org_No_Income = abs(No.income - No.income[Method == "Original"]))
polish_units_result <- polish_units_result %>% mutate(Dev_Org_below_1K = abs(below.1K - below.1K[Method == "Original"]))
polish_units_result <- polish_units_result %>% mutate(Dev_Org_1K_to_2K = abs(X1K.to.2K - X1K.to.2K[Method == "Original"]))
polish_units_result <- polish_units_result %>% mutate(Dev_Org_2K_to_3K = abs(X2K.to.3K - X2K.to.3K[Method == "Original"]))
polish_units_result <- polish_units_result %>% mutate(Dev_Org_3K_to_4K = abs(X3K.to.4K - X3K.to.4K[Method == "Original"]))
polish_units_result <- polish_units_result %>% mutate(Dev_Org_above_4K = abs(above.4K - above.4K[Method == "Original"]))
polish_units_result

   Dataset Method          No.income below.1K X1K.to.2K X2K.to.3K X3K.to.4K
1  Polish  Original        1286      1229     1749      472       133
2          sdsPolishCatMC  1297      1222     1740      469       130
3          sdsPolishCatMCT 1282      1236     1732      479       135
4          sdsPolishCatMP  1293      1237     1731      473       134
5          sdsPolishCatMPT 1288      1240     1739      472       129
6          sdsPolishDecM   1288      1229     1750      477       129
7          sdsPolishDecMO  1282      1220     1751      479       135
8          sdsPolishDecMOT 1262      1242     1761      458       137
9          sdsPolishDecMT  1304      1217     1759      460       126
10         sdsPolishDecMV  1302      1235     1730      470       136
11         sdsPolishDecMVT 1258      1247     1729      498       134
12         sdsPolishParM   1163      1307     1856      458       115
13         sdsPolishParMO  1151      1317     1849      466       122
14         sdsPolishParMOT 1156      1279     1875      467       120
15         sdsPolishParMT  1153      1297     1853      475       120
16         sdsPolishParMV  1150      1295     1876      460       119
17         sdsPolishParMVT 1166      1310     1854      451       116
   above.4K Dev_Org_No_Income Dev_Org_below_1K Dev_Org_1K_to_2K
1  131        0                0                 0
2  141       11                7                 9
3  136        4                7                17
4  132        7                8                18
5  131        2               11                10
6  128        2                0                 1
7  132        4                9                 2
8  140       24               13                12
9  134       18               12                10
10 128       16                6                19
11 135       28               18                20
12 102      123               78               107
13  95      135               88               100
14 104      130               50               126
15 101      133               68               104
16 100      136               66               127
17 103      120               81               105
   Dev_Org_2K_to_3K Dev_Org_3K_to_4K Dev_Org_above_4K
1   0                0                0
2   3                3               10
3   7                2                5
4   1                1                1
5   0                4                0
6   5                4                3
7   7                2                1
8  14                4                9
9  12                7                3
10  2                3                3
11 26                1                4
12 14               18               29
13  6               11               36
14  5               13               27
15  3               13               30
16 12               14               31
17 21               17               28

In [29]:
# Correlation CIO & Units No Income
units_noincome_cio <- cor.test(polish_units_result$Dev_Org_No_Income, polish_result$CIO.Regression.Fits.Raab..2016..m.10, 
                    method = "pearson")
units_noincome_cio

	Pearson's product-moment correlation

data:  polish_units_result$Dev_Org_No_Income and polish_result$CIO.Regression.Fits.Raab..2016..m.10
t = -0.35062, df = 15, p-value = 0.7308
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5470965  0.4081728
sample estimates:
        cor
-0.09016015

In [30]:
# Correlation APO & Units No Income
units_noincome_apo <- cor.test(polish_units_result$Dev_Org_No_Income, polish_result$APO.above.90..Raab..2016..m.10, 
                    method = "pearson")
units_noincome_apo

	Pearson's product-moment correlation

data:  polish_units_result$Dev_Org_No_Income and polish_result$APO.above.90..Raab..2016..m.10
t = -0.546, df = 15, p-value = 0.5931
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5812418  0.3655776
sample estimates:
      cor
-0.139596

In [45]:
# Correlation KL-divergence & Units No Income
units_noincome_kl <- cor.test(polish_units_result$Dev_Org_No_Income, polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample, 
                    method = "pearson")
units_noincome_kl

	Pearson's product-moment correlation

data:  polish_units_result$Dev_Org_No_Income and polish_result$Average.KL.Dv.over.all.variables.and.normalized.using.sample
t = -0.31635, df = 14, p-value = 0.7564
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.5567041  0.4293896
sample estimates:
        cor
-0.08424794